In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dataY=pd.read_excel(r"Data\teams_wins_21_22_2.xlsx")
dataY= dataY.sort_values(by='Team', ascending=True)
dataY

                    Team  Wins
4                   Ajax     7
19              Atalanta     4
3               Atlético     5
26             Barcelona     3
8          Bayern Munich     9
9                Benfica     7
30              Besiktas     0
21     Borussia Dortmund     3
14               Chelsea     8
28           Club Brugge     2
27           Dynamo Kyiv     1
7            Inter Milan     5
15              Juventus     6
18               Leipzig     3
12                 Lille     5
2              Liverpool    10
31                 Malmo     1
0              Man. City     9
10     Manchester United     5
25                 Milan     2
1                  Paris     6
24                 Porto     3
6            Real Madrid     9
13              Salzburg     3
16               Sevilla     4
23      Shakhtar Donetsk     2
22      Sheriff Tiraspol     3
5            Sporting CP     3
11            Villarreal     8
17             Wolfsburg     3
29            Young Boys     3
20  Zenit St. Petersburg     3

In [7]:
data=pd.read_csv(r"C:\Users\i7 11Th\Desktop\Python2Proj\final_data.csv")
data1=[]
data1=pd.DataFrame(data1)
data1['club']=data['club']

data1['def']=data['scaled_performance_def']
data1['gk']=data['scaled_Scorekeeping']
data1['mid']=data['mid_performance']
data1['att']=data['att_performance']
data1['on_target_per_game']=data['scaled_on_target']
data1['assists_dribble']=data['scaled_Assist_dribble_per_match']
data1


#data1['num_wins']=dataY['Wins']

,club,def,gk,mid,att,on_target_per_game,assists_dribble
0,Ajax,44.50,18.69,57.98,61.01,0.00,78.31
1,Atalanta,76.15,24.12,55.06,44.50,12.38,70.59
2,Atlético,53.72,49.95,52.52,56.10,12.38,30.93
3,Barcelona,52.24,32.43,52.86,57.40,15.57,0.00
4,Bayern,43.64,54.10,58.44,56.17,24.95,100.00
5,Benfica,69.76,74.39,49.50,51.38,28.14,34.03
6,Beşiktaş,88.51,19.12,59.09,43.24,28.14,9.14
7,Chelsea,60.30,15.60,64.54,63.08,29.64,71.25
8,Club Brugge,35.03,15.28,63.87,47.77,40.53,34.54
9,Dortmund,0.00,39.99,59.81,43.88,43.71,43.83
10,Dynamo Kyiv,33.50,56.98,51.04,38.40,48.41,6.60
11,Inter,73.63,32.06,66.95,48.72,49.91,21.28
12,Juventus,72.40,62.94,62.33,49.03,53.10,28.69
13,LOSC,77.01,27.80,53.83,64.80,53.10,25.70
14,Leipzig,76.52,44.68,58.87,50.45,56.29,53.07
15,Liverpool,62.63,8.31,56.56,51.74,57.79,89.94
16,Malmö,68.72,52.66,54.52,48.09,62.48,15.90
17,Man. City,45.18,42.55,62.93,54.72,62.48,85.98
18,Man. United,84.20,43.72,54.41,58.90,64.73,24.89
19,Milan,68.78,61.55,62.54,57.99,64.73,55.10
20,Paris,46.77,61.40,58.39,54.81,68.67,57.24
21,Porto,8.79,26.78,55.70,50.05,69.61,16.76
22,Real Madrid,56.61,100.00,60.42,57.92,71.86,79.28
23,Salzburg,45.79,7.14,47.81,53.23,75.05,35.80
24,Sevilla,2.64,51.06,56.34,64.36,77.67,16.10
25,Shakhtar Donetsk,24.15,25.77,63.02,36.90,83.49,8.28
26,Sheriff,43.21,46.54,54.12,37.50,84.43,20.98
27,Sporting CP,65.15,0.00,57.25,47.92,84.80,44.24
28,Villarreal,40.75,54.15,57.25,41.59,84.99,45.81
29,Wolfsburg,100.00,41.64,59.39,46.29,87.43,3.40
30,Young Boys,56.67,25.93,57.82,46.43,87.43,40.48
31,Zenit,38.78,23.91,62.97,50.51,100.00,31.23